img {
  display: block;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.imgUrl {
  height: 50vh;
}

.ad {
  border: 1px solid black;
  border-radius: 10px;
  width: min(28%, 50vh);
}

.ad-desc {
  border-bottom: 1px solid black;
  padding-block: 1em;
  padding-inline-start: 1em;
}

.ad-desc:nth-of-type(3) {
  border-bottom: none;
}

.ad-desc:nth-of-type(1) a {
  text-decoration-line: none;
  color: black;
}

.ad-desc:nth-of-type(1):hover {
  background-color: lightblue;
  cursor: pointer;
}
