.ad-section {
  display: flex;
  flex-wrap: wrap;
  width: min(90%, 770px);
  gap: 2rem;
  margin-top: 2em;
  margin-inline: auto;
  padding: 2em;
  padding-block-start: 0;
}

.search-section {
  width: min(90%, 900px);
  margin: auto;
}

.search-section h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5em;
}

.search-section form {
  text-align: center;
}
